<a href="{% url 'home' %}">
    <div class="menu-item">
        <i class="fas fa-home"></i>
        <span class="menu-text">Inicio</span>
    </div>
</a>

<a href="{% url 'proveedores' %}">
  <div class="menu-item">
  <i class="fa fa-search" aria-hidden="true"></i>
      <span class="menu-text">Comparar Prov</span>
  </div>
</a>

<a href="{% url 'proveedores_list' %}">
  <div class="menu-item">
  <i class="fa fa-list" aria-hidden="true"></i>

      <span class="menu-text">Listado de Prov</span>
  </div>
</a>

<a href="{% url 'listado_inspecciones' %}">
  <div class="menu-item">
  <i class="fa fa-user-secret" aria-hidden="true"></i>

      <span class="menu-text">Inspecciones</span>
  </div>
</a>


<a href="{% url 'actualizar_proveedores' %}">
  <div class="menu-item">
  <i class="fa fa-user-secret" aria-hidden="true"></i>

      <span class="menu-text">Actualizar Prov</span>
  </div>
</a>

