<div class="nav-item has-submenu {% if request.resolver_match.url_name in 'pagos_electronicos,pagos_graficos,regalias' %}open{% endif %}">
    <button type="button" class="submenu-toggle">
        <i data-lucide="wallet"></i>
        <span>Canon</span>
        <i data-lucide="chevron-down" class="chevron-icon"></i>
    </button>
    
    <div class="submenu">
        <a href="{% url 'consulta_deudas_expedientes' %}" class="{% if request.resolver_match.url_name == 'consulta_deudas_expedientes' %}active{% endif %}" title="Consulta">
    <i data-lucide="search"></i> <span>Consulta Expediente</span>
</a>

<a href="{% url 'deudas_expedientes' %}" class="{% if request.resolver_match.url_name == 'deudas_expedientes' %}active{% endif %}" title="Caducidad">
    <i data-lucide="clock-9"></i> <span>Caducidad</span>
</a>
<a href="{% url 'pagos_electronicos' %}" class="{% if request.resolver_match.url_name == 'pagos_electronicos' %}active{% endif %}">
            <i data-lucide="credit-card"></i> <span>Pagos Electrónicos</span>
        </a>

        <a href="{% url 'pagos_graficos' %}" class="{% if request.resolver_match.url_name == 'pagos_graficos' %}active{% endif %}">
            <i data-lucide="bar-chart-3"></i> <span>Pagos Gráficos</span>
            </a>



    </div>
</div>


        <a href="{% url 'regalias' %}" class="{% if request.resolver_match.url_name == 'regalias' %}active{% endif %}">
            <i data-lucide="coins"></i> <span>Regalías</span>
        </a>
    

<div class="nav-item has-submenu {% if request.resolver_match.url_name in 'pagos_electronicos,pagos_graficos,regalias' %}open{% endif %}">
    <button type="button" class="submenu-toggle">
        <i data-lucide="wallet"></i>
        <span>Contratos</span>
        <i data-lucide="chevron-down" class="chevron-icon"></i>
    </button>
    
    <div class="submenu">
             
        <a href="{% url 'contratos' %}" class="{% if request.resolver_match.url_name == 'contratos' %}active{% endif %}"
        title="Nuevo Contrato">
         <i data-lucide="plus"></i><span>Nuevo Contrato</span>
      </a>



      <a href="{% url 'lista_contratos' %}"
          class="{% if request.resolver_match.url_name == 'lista_contratos' %}active{% endif %}" title="Lista de Contratos">
          <i data-lucide="handshake"></i> <span>Lista de Contratos</span>
        </a>
        
        <a href="{% url 'tipos_contratos_list' %}" class="{% if request.resolver_match.url_name == 'tipos_contratos_list' %}active{% endif %}"
        title="Tipos Contratos">
         <i data-lucide="list"></i><span>Tipos Contratos</span>
      </a>
      
    </div>
</div>