{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sidebar Profesional</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
  <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
  
  {% block head %}
  {% endblock %}
</head>
<body>

  <aside class="sidebar" id="sidebar">

    <button class="collapse-btn" onclick="toggleCollapse()">
      <i data-lucide="chevrons-left"></i>
    </button>
    <div class="menu">
      <div class="logo">SIEMSa</div>
      <nav>
        
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
        title="Inicio">
        <i data-lucide="home"></i> <span>Inicio</span>
      </a>
      {% if request.user.groups.first.name == "Administrador" or request.user.groups.first.name == "Publicador" %}
        {% endif %}
        
        
        <a href="{% url 'contratos' %}" class="{% if request.resolver_match.url_name == 'contratos' %}active{% endif %}"
        title="Nuevo Contrato">
         <i data-lucide="plus"></i><span>Nuevo Contrato</span>
      </a>



      <a href="{% url 'lista_contratos' %}"
          class="{% if request.resolver_match.url_name == 'lista_contratos' %}active{% endif %}" title="Lista de Contratos">
          <i data-lucide="handshake"></i> <span>Lista de Contratos</span>
        </a>
        
        <a href="{% url 'tipos_contratos_list' %}" class="{% if request.resolver_match.url_name == 'tipos_contratos_list' %}active{% endif %}"
        title="Tipos Contratos">
         <i data-lucide="list"></i><span>Tipos Contratos</span>
      </a>
      
      {% if request.user.groups.first.name == "Administrador" or request.user.groups.first.name == "Publicador" %}
        {% endif %}
        <!-- Nueva sección Administración -->
        {% if request.user.groups.first.name == "Administrador" %}
      
      {% endif %}
      
      <a class="theme-toggle" onclick="toggleTheme()" id="theme-btn" style="margin-top: 2rem;">
          <i data-lucide="moon" id="theme-icon"></i> <span style="margin-left: 12px;" id="theme-text">Modo Oscuro</span>
        </a>
      <a href="{% url 'logout' %}" style="margin-top: 0.5rem; color: #ef4444;">
          <i data-lucide="log-out"></i> <span>Cerrar Sesión</span>
        </a>
      </nav>

    </div>
    <div class="user-footer">
      <div><i style="margin: 10px;" class="fa fa-user-circle" aria-hidden="true"></i>
      {{ user.get_full_name|default:user.username }}</div>
    </div>
  </aside>

<main class="main">
    
    
    
  {% block content %}
  {% endblock %}


</main>
  
<script src="{% static 'app/js/home.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
