<a href="{% url 'home' %}">
    <div class="menu-item">
        <i class="fas fa-home"></i>
        <span class="menu-text">Inicio</span>
    </div>
</a>

<a href="{% url 'contratos' %}">
  <div class="menu-item">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="menu-text">Nuevo</span>
  </div>
</a>


<a href="{% url 'serch' %}">
  <div class="menu-item">
  <i class="fa fa-search" aria-hidden="true"></i>
      <span class="menu-text">Consultar</span>
  </div>
</a>

<a href="{% url '' %}">
  <div class="menu-item">
  <i class="fa fa-search" aria-hidden="true"></i>
      <span class="menu-text">Tipos Contratos</span>
  </div>
</a>

<a href="{% url 'lista_contratos' %}">
  <div class="menu-item">
  <i class="fas fa-file-alt"></i>
      <span class="menu-text">Contratos List</span>
  </div>
</a>

  