<a href="{% url 'home' %}">
    <div class="menu-item">
        <i class="fas fa-home"></i>
        <span class="menu-text">Inicio</span>
    </div>
</a>

<a href="{% url 'inventario_list' %}">
  <div class="menu-item">
  <i class="fa fa-television" aria-hidden="true"></i>

      <span class="menu-text">Inventario</span>
  </div>
</a>
<a href="{% url 'enviar_correos' %}">
  <div class="menu-item">
  <i class="fa fa-envelope" aria-hidden="true"></i>

      <span class="menu-text">Enviar Mails</span>
  </div>
</a>
