{% if request.user.es_asuntos_legales %}
        <a href="{% url 'consulta_deudas_expedientes' %}"
          class="{% if request.resolver_match.url_name == 'consulta_deudas_expedientes' %}active{% endif %}"
          title="SIMSA">
          <i data-lucide="flame"></i> <span>SIMSa</span>
        </a>
        <a href="{% url 'contratos' %}" class="{% if request.resolver_match.url_name == 'contratos' %}active{% endif %}"
          title="Contratos">
          <i data-lucide="handshake"></i> <span>Contratos</span>
        </a>
        {% else %}
        <a href="{% url 'exportacion' %}"
          class="{% if request.resolver_match.url_name == 'exportacion' %}active{% endif %}" title="Exportaciones">
          <i data-lucide="earth"></i> <span>Exportaciones</span>
        </a>

        <a href="{% url 'contratos' %}" class="{% if request.resolver_match.url_name == 'contratos' %}active{% endif %}"
          title="Contratos">
          <i data-lucide="handshake"></i> <span>Contratos</span>
        </a>
        <a href="{% url 'proveedores' %}"
          class="{% if request.resolver_match.url_name == 'proveedores' %}active{% endif %}" title="Proveedores">
          <i data-lucide="truck"></i> <span>Proveedores</span>
        </a>
        <a href="{% url 'expedientes' %}"
          class="{% if request.resolver_match.url_name == 'expedientes' %}active{% endif %}" title="Expedientes">
          <i data-lucide="folder-open"></i> <span>Expedientes</span>
        </a>
        <a href="{% url 'consulta_deudas_expedientes' %}"
          class="{% if request.resolver_match.url_name == 'consulta_deudas_expedientes' %}active{% endif %}"
          title="SIMSA">
          <i data-lucide="flame"></i> <span>SIMSa</span>
        </a>
        {% if request.user.groups.first.name == "Administrador" or request.user.groups.first.name == "Publicador" %}
        {% endif %}
        <!-- Nueva sección Administración -->
        {% if request.user.groups.first.name == "Administrador" %}
        <a href="{% url 'administration' %}"
          class="{% if request.resolver_match.url_name == 'administration' %}active{% endif %}" title="Administración">
          <i data-lucide="settings"></i> <span>Administración</span>
        </a>

        {% endif %}
        {% endif %}